    <%= render 'shared/header' %>

    <!--NAVBAR-->
    <header id="HOME" style="background-position: 50% -125px;">
        <div class="section_overlay">
            <%= render 'shared/navbar' %>
        </div>        
    </header>
    <!--/NAVBAR-->  
    
    <!--CATALOG-->
    <section class="work_area" id="WORK">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="work_title  wow fadeInUp animated">
                        <h1>Experiences</h1>
                        <%= image_tag "shape.png" %>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna <br> aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <% @products.each do |product| %>
                    <div class="col-md-4 no_padding portfolio-item romantic">
                        <div class="single_image">
                            <%= image_tag "w1.jpg" %>
                            <div class="image_overlay">
                                <%= link_to(product) do %>
                                    <h2 id="product-title"><%= product.name %></h2>
                                <% end %>
                                <h4><%= product.description %></h4>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>          
        </div>
    </section>
    <%= render 'shared/experience_form' %> 
    <!--/CATALOG-->
    
    <%= render 'shared/footer' %> 