<%= render 'shared/header' %>

<!--NAVBAR-->
<header id="HOME" style="background-position: 50% -125px;">
	<div class="section_overlay">
		<%= render 'shared/navbar' %>
	</div>        
</header>
<!--/NAVBAR--> 

<!--Product-->
<section class="product_area" id="PRODUCT">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="product_title wow fadeInUp animated">
					<h2><%= @product.name %></h2>
					<%= image_tag "shape.png" %>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4  wow fadeInLeft animated">
				<div class="single_image">
					<%= image_tag "w2.jpg" %>
				</div>
			</div>
			<div class="col-md-8  wow fadeInRight animated">
				<p class="product_desc"><%= @product.description %></p>
				<div class="row" style="display: inline-flex;margin-left:1px">
					<div class="radio" style="width: 15%; margin-top: -13px; margin-left: 10px; margin-right: 5%;">
						<label style="padding-left: 0px;"> Tipo de pacote:</label>
						<label><input type="radio" name="optradio">  Luxo</label>
						<label><input type="radio" name="optradio">  Normal</label>
						<label><input type="radio" name="optradio">  Budget</label>
					</div>

					<div class="col-md-2 input-group">
						<label>Nº de Pessoas:</label>
						<div>
							<input type="text" data-ride="spinner" id="spinner2" class="form-control input-number" value="1" data-min="1" data-max="10" style="width: 35%";>
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" data-value="-1" data-target="#spinner2" data-toggle="spinner">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</span>

							<span class="input-group-btn">
								<button type="button" class="btn btn-default" data-value="2" data-target="#spinner2" data-toggle="spinner" data-on="mousehold">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</span>
						</div>
					</div>
					<div class="col-md-4" style="margin-top: -22px; margin-left: 10px;">
						<div class="radio">
							<label style="padding-left: 5%;">Programa:</label>
							<label><input type="radio" name="optradio">Completo</label>
							<label><input type="radio" name="optradio">Dia</label>
							<label><input type="radio" name="optradio">Noite</label>
						</div>
					</div>
					<div class="form-group">
						<label>Date</label>
						<div class="col-xs-5 date">
							<div class="input-group input-append date" id="datePicker">
								<input type="text" class="form-control" name="date">
								<span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--/Product-->

<%= render 'shared/footer' %> 