<p>
  O cliente <%= @client.name%>(<%= @client.email %>), fez o pedido de reserva da experiencia <%= @experience.description_pt%> referente ao produto <%= @product.name_pt%>, com o preço de <%= @experience.price%>. 
</p>