<section class="call_to_action">
    <div class="container">
        <div class="row">
            <div class="col-md-8 wow fadeInLeft animated">
                <div class="left">
                    <h2><%= @catalog.exp_title %></h2>
                    <p><%= @catalog.exp_text %></p>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 wow fadeInRight animated">
                <div class="baton">
                    <a href="#CONTACT">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contact_modal">Contact Us</button>
                    </a>    
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modal -->
<div id="contact_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h1>Create your own experience</h1>
        <p>Tell us the kind of experience you would want to live</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12  wow fadeInLeft animated" id="formulario">
                <%= form_for @cont do |f| %>
				  <p>
				    <%= f.label :name %><br>
				    <%= f.text_field :name %>
				  </p>

				  <p>
				    <%= f.label :from_mail %><br>
				    <%= f.text_field :from_mail %>
				  </p>
				 
				  <p>
				    <%= f.label :subject %><br>
				    <%= f.text_field :subject %>
				  </p>

				  <p>
				    <%= f.label :msg %><br>
				    <%= f.text_area :msg %>
				  </p>
				   
				  <p>
				    <%= f.submit %>
				  </p>
				<% end %>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>

</div>
</div>