<h1>NEW PRODUCT</h1>

<%= form_for :product, url: product_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

    <table>
  	<tr>
  		<td><%= f.label :activities%></td>
  		<td><%= f.text_field :name %></td>
  	</tr>
  </table>
  <br>
  <span>
  	<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'%>
  </span>
  <br>
  <p>
    <%= f.submit %>
  </p>
<% end %>